{
  "plugins": [
    "@babel/plugin-transform-react-jsx"
  ],
  "presets": [
    ["env", {
      "targets": {
        "browsers": [
          "> 5%", "ie 7-12"
        ]
      }
    }],
    "react"
  ]
}
